:root{
    --primary: #b5179e;
    --bg: #010101;
    --gradient: linear-gradient(45deg, var(--bg), #560bad, var(--primary));
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    overflow: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #f72585;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span{
    color: var(--primary);
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .navbar-nav a{
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    background: var(--primary);
    padding: 0.3rem 1rem;
    border-radius: 25px;
}

.navbar .navbar-nav a:hover{
    background-color: rgba(181, 23, 158, 0.5);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);    
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.7);
    transition: 300ms;
}

.navbar .navbar-extra a{
    color: #fff;
    margin: 0 0.5rem;   
}

.navbar .navbar-extra .headphones:hover{
    color: var(--primary);
}

.navbar-extra .btn{
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 25px;
}

.navbar-extra .btn:hover{
    background: rgb(181, 23, 158, 0.5);
    color: #fff;
}

#hamburger-menu{
    display: none;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--bg);
}

.container .content{
    text-align:center;
    margin-top: 8rem;
}

.container .content h3{
    font-size:30px;
    color:#fff;
}

.container .content h3 span{
    background: var(--primary);
    color:#fff;
    border-radius:5px;
    padding:0 15px;
}

.container .content h1{
    font-size:50px;
    color:#fff;
}

.container .content h1 span{
    color:var(--primary);
}

.container .content p{
    font-size:20px;
    margin-bottom: 20px;
}

.container .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size:20px;
    background:#333;
    color:#fff;
    margin:0 5px;
    text-transform: capitalize;
}

.container .content .btn:hover{
    background:crimson;
}

.form-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: linear-gradient(25deg, #1b2021, #89023e, #ea638c, #89023e, #1b2021);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1) ;
    background: #fff;
    text-align: center;
    width: 500px;
}

.form-container form h3{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.form-container form input,
.form-container form select{
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;  
    background: #eee;
    border-radius: 5px;
}

.form-container form select option{
    background: #fff;
}

.form-container form .form-btn{
    background: rgba(181, 23, 158);
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover{
    background-color: rgba(181, 23, 158, 0.5);
    color: rgb(116, 10, 100); 
}

.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #010101;
}

.form-container form p a {
    color: crimson;
}

.form-container form .error-msg{
    margin:10px;
    display:block;
    background:crimson;
    color:#fff;
    border-radius:5px;
    font-size:20px;
    padding:10px;
}


/* footer */
footer{
    background: -webkit-linear-gradient(right, #f72585, var(--primary), #560bad);;
    text-align: center;
    padding: 1rem 0;
    /* margin-top: 3rem; */
    padding-bottom: 3rem;
}

footer .socials{
    padding: 1rem 0;
}

footer .socials a{
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover{
    color: var(--bg);
}

footer .links{
    margin-bottom: 1.4rem;
}

footer .links a{
    color: #fff;
    padding: 0.7rem 0.1rem;
}

footer .credit {
    font: 0.8rem;
}

footer .credit a{
    color: var(--bg);
    font-weight: 700;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/* media queris */

/* laptop */
@media (max-width: 1366px){
    html{
        font-size: 75%;
    }
}

/* tablet */
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(247, 37, 133, 0.8);
        width: 30rem;
        height: 100vh;
        transition: 300ms;
    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
        background: none;
    }

    .navbar .navbar-nav a:hover{
        color: #fff;
        background: none;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.35);
    }
    
    .about .row{
        flex-wrap: wrap;
    }

    .about .row .about-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content{
        padding: 0;
    }

    .about .row .content h3{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .menu p{
        font-size: 1.2rem;
    }

    .contact .row{
        flex-wrap: wrap;
    }

    .contact .row map{
        height: 30rem;
    }

    .contact .row form{
        padding-top: 0;
    }
}

/* handphone */
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}